<!DOCTYPE html>
<html>
  <head>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

  <h2>{{concepts_page.title}}</h2>
  <dl>
    {% for concept in concepts_page.concepts %}
        <dt>{{ concept.name }}</dt>
        <dd>{{concept.description}}</dd>
    {% endfor %}
  </dl>

    <h2>Comments</h2>
      {% for comment in concepts_page.comments %}
        <ol></ol>
        <li>{{ comment }}</li>
      {% endfor %}

    <form method="post">
      <div><textarea name="new_comment" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Add Comment"> {{concepts_page.error_message}} </div>
    </form>
  </body>
</html>